<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <header>
        <%- include('./partials/headerProfile'); %>
</header>
<main> 
 
    <h2>Listado de productos</h2>
    <% product.forEach(product => { %>
        <div class="listProd-detalle">
            <a> Product ID <%= product.id%></a>
            <a> Nombre <%= product.product%></a>
            <a> Descripcion <%= product.description%></a>
            <a> Precio $ <%= product.price%></a>
            
            <button type="button" class="btn btn-outline-success"><a href="<%=product.id%>/edicionProdDb" class="navegador text-decoration-none text-dark">Editar</a> </button>
            <button type="button" class="btn btn-outline-success"><a href="<%=product.id%>/deleteProd" class="navegador text-decoration-none text-dark">Borrar</a></button>
            <br>
        </div>
        <% });%>

        
</main>

</body>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>