<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
</header>
<main> 
 
    <h2>Listado de productos</h2>
    <% product.forEach(product => { %>
        <tr>
            <td> <%= product.id%></td>
            <td> <%= product.product%></td>
            <td> <%= product.description%></td>
            <td> <%= product.price%></td>
            <div class="d-grid gap-2 d-md-flex">
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
              </div>
            <a href="<%=product.id%>/edicionProdDb" class="navegador">Editar</a>
            <a href="<%=product.id%>/deleteProd" class="navegador">Borrar</a>
            <br>
        </tr>
        <% });%>

</main>

</body>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>