<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>

  

  <header><%- include('./partials/header'); %></header>

  <body class="login-body">
    <form
      method="POST"
      action="/register/login"
      class="alta-login"
      id="login-form"
    >
    
      <div class="altausuario-login">
        <div class="bienvenido">Bienvenido! Ingresá tus datos</div>

       <div class="errores_login mensaje-alerta"></div>
       
       <div class="usuario-login">
            
          <label for="user_email">Email:</label>
          <input
            type="email"
            id="user_email"
            name="user_email"
            value="<%=locals.oldData ? oldData.user_email : null %>"
          />
          
          <% if (locals.errors && errors.user_email) {%>
          <div class="mensaje-alerta"><%= errors.user_email.msg %></div>
          <% } %>
        </div>

        <div class="password-login">
          <label for="user_password">Contraseña:</label>
          <input type="password" id="user_password" name="user_password" />
          <% if (locals.errors && errors.user_password) {%>
          <div class="mensaje-alerta"><%= errors.user_password.msg %></div>
          <% } %>   
          
        </div>
        <div class="recordarcontraseña-login">
          <input
            type="checkbox"
            name="recordarcontraseña"
            value="recordarcontraseña"
          />Recordar Contraseña
        </div>

        <div class="olvidemiclave-login">
          <li><a href="#">Olvide mi clave</a></li>
        </div>
       
        <button type="submit" style="margin: 10px" class="boton-login">
          Enviar
        </button>
        <button type="reset" style="margin: 10px" class="boton-borrar">
          Borrar
        </button>
      </div>
     
    </form>
    <script src="../js/validationLoginUser.js"></script>
  </body>

  <footer><%- include('./partials/footer'); %></footer>
</html>
