<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>

</head>
<body>
<header>
    <%- include('./partials/header'); %>
</header>

<main>
    <form action="/product/products?_method=PUT" method="POST" enctype="multipart/form-data">
      
  
    <div class="register">Nuevo Producto</div>
    
    <fieldset>
      <div class="form-prodId">
        <input type="number" id="id" value="<%- product.id %>" name="id">
      </div>

     <div class="form-nuevosProd">
      <label for="producto">Nombre del Producto:</label>
      <input type="text" id="producto" value="<%- product.producto %>" name="producto">
    </div>

    <div class="form-nuevosProd">
      <label for="descripcion">Descripcion</label>
      <input type="text" value="<%- product.descripcion %>" name="descripcion" id="descripcion">
    </div>

    <div class="form-nuevosProd">
      <label for="image">Imagen</label>
      <input type="file" value="<%- product.imagen %>" name="imagen" id="imagen"  multiple>
    </div>
    <div class="form-nuevosProd">
      <label for="categoria">Categoria</label>
      <select name="categoria" value="<%- product.categoria %>" id="categoria">
          <option value="Semillas">Semillas</option>
          <option value="Decoracion">Decoracion</option>
          <option value="Jardineria">Jardineria</option>
          <option value="Plantas-Artificiales">Plantas Artificiales</option>
          <option value="sustratos">Sustratos</option>
          <option value="Macetas">Macetas</option>
          <option value="Herramientas">Herramientas</option>
      </select>
    </div>
      
    <div class="form-nuevosProd">
        <label for="precio">Precio</label>
        <input type="number" value="<%- product.precio?product.precio.slice(1):'' %>" id="precio" name="precio" min="1">
    </div>

      <button type="submit" formmethod="put">Cargar</button>
          
    </fieldset>
  </form>
</main> 
</body>
<footer>
  <%- include('./partials/footer'); %>
</footer>
</html>