<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>

</head>
<body>
<header>
    <%- include('./partials/header'); %>
</header>

<main>
    <form action="/product/nuevosProd" method="POST"  enctype="multipart/form-data" >
      
  
    <div class="register">Nuevo Producto</div>
    
     <div class="form-nuevosProd">
      <label for="producto">Nombre del Producto:</label>
      <input type="text" id="producto" name="producto">
      <% if (locals.errors && errors.producto) {%>
        <div class="mensaje-alerta"> 
          <%= errors.producto.msg %> 
        </div>
      <% } %>
    </div>

    <div class="form-nuevosProd">
      <label for="descripcion">Descripcion</label>
      <input type="text" name="descripcion" id="descripcion">
      <% if (locals.errors && errors.descripcion) {%>
        <div class="mensaje-alerta"> 
          <%= errors.descripcion.msg %> 
        </div>
      <% } %>
    </div>

    <div class="form-nuevosProd">
        <label for="precio">Precio</label>
        <input type="number"  id="precio" name="precio" min="1">
        <% if (locals.errors && errors.precio) {%>
          <div class="mensaje-alerta"> 
            <%= errors.precio.msg %> 
          </div>
        <% } %>
    </div>

    <div class="form-nuevosProd">
      <label for="categoria">Categoria</label>
      <select name="categoria"  id="categoria">
       <%  if(locals.cate) {%> 
        <% cate.forEach(cat => {%>
          
          <option value="<%=cat.id %> "> <%=cat.nameCategory %> </option>
          
       <% }); %> 
          <% } %> 
      </select>
      
      <div class="form-nuevosProd">
        <label for="image">Imagen</label>
        <input type="file"  name="productFoto" id="imagen"  multiple>
      </div>


      <button type="submit">Cargar</button>
          
    </fieldset>
  </form>
</main> 
<!-- <script src= '/middlewares/validationCreateProductMiddleware.js'></script> -->
</body>
<footer>
  <%- include('./partials/footer'); %>
</footer>
</html>